* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.myclas {
    padding-left: 450px;
}

form {
    margin-left: 490px;
}

.myimage {
    width: 100%;
    height: 600px;
    margin-top: 30px;
}

.two {
    height: 700px;
    object-fit: cover;

}

.myimage img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.text {
    text-align: center;
    text-decoration: underline;
    margin-top: 15px;
}

.about {
    text-align: justify;
    padding-right: 30px;
}

.first {
    width: 24.87rem;
    height: 287px;
}

.first img {
    width: 100%;
    height: 100%;
}